.resize {
    width: 80px;
    height: auto;
}

.list {
    width: 700px;
    padding-top: 10px;
}

ul {
    display: table;
    margin: 0 auto;
}

.title {
    color: black;
    font-size: 45px;
    font-family: "Roboto";
    letter-spacing: 2px;
    font-weight: 900;
}
.background {
    width: 100%;
    height: 708px;
}

.products-container {
    position: absolute;
    top: calc(30% - 90px);
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px #E8E8E8 inset;
    height: 40px;
    margin: 0 0 0 25px;
    padding: 10px;
    width: 400px;
}