/* product page */

.resize {
    width: 80px;
    height: auto;
}

.list {
    width: 700px;
    margin-top: 20px;
    overflow-y: scroll;
    max-height: 450px;
}

ul {
    display: table;
    margin: 0 auto;
}

.title {
    color: black;
    font-size: 45px;
    font-family: "Roboto";
    letter-spacing: 2px;
    font-weight: 900;
    margin-top: -20px;
}

.addUnderTitle {
    margin-top: -20px !important;
    background-color: antiquewhite;
    border: none;
    border-radius: 10px;
}

.background {
    width: 100%;
    height: 708px;
}

.products-container {
    position: absolute;
    top: calc(23% - 90px);
    left: 0;
    right: 0;
}

.select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px #E8E8E8 inset;
    height: 40px;
    margin: 0 0 0 25px;
    padding: 10px;
    width: 400px;
}

.center {
    margin: auto;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.btn-left {
    margin-left: 5px;
}

/* edit page */

.form-control:focus {
    box-shadow: none;
    border-color: #0062cc
}

.profile-button {
    background: #0062cc;
    box-shadow: none;
    border: none
}

.delete-button {
    background: #dc3545;
    box-shadow: none;
    border: none;
    color: white;
}

.profile-button:hover {
    background: #0062cc;
    color: black;
}

.profile-button:focus {
    background: #0062cc;
    box-shadow: none
}

.profile-button:active {
    background: #0062cc;
    box-shadow: none
}

.back:hover {
    color: #0062cc;
    cursor: pointer
}

.width-auto {
    width: auto !important;
}

.blue-background {
    background-color: aliceblue;
}

.red-btn > a {
    color: red !important;
}

.select-padding { 
    padding-bottom: 10px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

li.nostyle {
    list-style-type: none;
}
