/* product page */

.resize {
    width: 80px;
    height: auto;
}

.list {
    width: 700px;
    margin-top: 20px;
    overflow-y: scroll;
    max-height: 450px;
}

ul {
    display: table;
    margin: 0 auto;
}

.users-container {
    position: absolute;
    top: calc(23% - 90px);
    left: 0;
    right: 0;
}
